.icon_save {
	background-image: url("../image/save.png") !important;
}

.icon_reset {
	background-image: url("../image/reset.png") !important;
}

.icon_logonForm {
	background-image: url("../image/company_menu.png") !important;
}

.icon_email {
	background-image: url("../image/email.png") !important;
}

.icon_bussiness {
	background-image: url("../image/businiss.png") !important;
}

.icon_process {
	background-image: url("../image/process.png") !important;
}

.icon_myProcess {
	background-image: url("../image/myProcess.png") !important;
}

.icon_holiday {
	background-image: url("../image/holiday.png") !important;
}

.icon_waitProcess {
	background-image: url("../image/waitProcess.gif") !important;
}

.icon_newFlow {
	background-image: url("../image/newFlow.gif") !important;
}

.icon_addMail {
	background-image: url("../image/addMail.png") !important;
}

.icon_tempMail {
	background-image: url("../image/email_edit.png") !important;
}

.icon_inboxMail {
	background-image: url("../image/email_go.png") !important;
}

.icon_outboxMail {
	background-image: url("../image/email_open.png") !important;
}

.icon_waitTask {
	background-image: url("../image/waitTask.png") !important;
}

.icon_groupTask {
	background-image: url("../image/groupTask.gif") !important;
}

.icon_doneProcess {
	background-image: url("../image/doneProcess.png") !important;
}

.icon_doingProcess {
	background-image: url("../image/doingProcess.png") !important;
}

.icon_date {
	background-image: url("../image/date.png") !important;
}
.icon_usefulProcess{
	background-image: url("../image/usefulProcess.gif") !important;
}