<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jason.mapper.ClassMapper">
	<cache />

	<resultMap id="studentResultMap" type="org.jason.dto.StudentDTO" />

	<insert id="insert" parameterType="Class">
		INSERT INTO CLASS
		VALUES(#{classId},#{className})
	</insert>
	<select id="selectOne" parameterType="int" resultType="Class">
		select *
		from Class where classId = #{id}
	</select>
	<select id="selectClasses" resultType="Class">
		select * from Class
	</select>

	<select id="selectStudentsByCname" parameterType="string"
		resultMap="studentResultMap">
		SELECT s.sid as id,
		s.sname as sname,
		c.className as className
		FROM student s
		LEFT JOIN class c
		ON s.classId = c.classId
		WHERE
		c.className=#{cname}
	</select>
	<delete id="deleteByCid" parameterType="int">
		DELETE FROM CLASS WHERE
		classId =#{id}
	</delete>


	<update id="update" parameterType="Class">
		UPDATE CLASS SET
		className=#{className} WHERE classId=#{classId}
	</update>
</mapper>